<section class="calculator-card">
  <h2>Warhammer Army Calculator</h2>
  
  <div class="input-group">
    <label>Input Number:</label>
    <input 
      type="number" 
      [value]="numInput()" 
      (input)="onInput($any($event.target).value)"
    >
  </div>

  <div class="results">
    @if (isLoading()) {
      <p>Contacting Backend...</p>
    } @else if (result() !== undefined) {
      <h3>Result: <span class="highlight">{{ result() }}</span></h3>
    }
  </div>

</section>

<div class="grid-container">
    <app-card>
    <h3>Army Units</h3>
    <hr class="card-divider">
        <div class="unit-grid">
            <div class="stat-col">
                <span class="stat-label">Models</span>
                <input type="text" class="stat-input" placeholder="1">
            </div>

            <div class="stat-col">
                <span class="stat-label">Attacks</span>
                <input type="text" class="stat-input" placeholder="1">
            </div>

            <div class="stat-col">
                <span class="stat-label">BS/WS</span>
                <input type="text" class="stat-input" placeholder="4+">
            </div>

            <div class="stat-col">
                <span class="stat-label">Strength</span>
                <input type="text" class="stat-input" placeholder="4">
            </div>

            <div class="stat-col">
                <span class="stat-label">AP</span>
                <input type="text" class="stat-input" placeholder="0">
            </div>

            <div class="stat-col">
                <span class="stat-label">Damage</span>
                <input type="text" class="stat-input" placeholder="1">
            </div>
        </div>
    </app-card>

    <app-card>
        <h3>Target agnostic damage output</h3>
        <p>Average damage output, given wounding is always on 4.</p>
    </app-card>
</div>