<div class="grid-container">
    <div class="units-column">
        <app-add-unit-card 
            [unitToEdit]="editingUnit()" 
            (unitAdded)="onSaveUnit($event)">
        </app-add-unit-card>

        <app-ledger-card 
            [units]="armyUnits() || []" 
            [activeUnit]="editingUnit()" 
            [totalPoints]="totalPoints()"
            (editUnit)="onEditUnit($event)"
            (deleteUnit)="removeUnit($event)">
        </app-ledger-card>
    </div>

    <div class="results-column">
        <app-hit-dist-card></app-hit-dist-card>

        <app-wound-dist-card></app-wound-dist-card>

        <app-toughness-dist-card></app-toughness-dist-card>

        <app-damage-dist-card></app-damage-dist-card>

        <app-save-dist-card></app-save-dist-card>
    </div>
</div>