@import "../../../styles.css";

:host {
  display: block;
  width: 100%;
}

.grid-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important; 
  gap: 20px;
  width: 100%;
  margin-top: 2rem;
  align-items: start;
}

app-card {
  display: block !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr !important;
  }
}