<header class="header">
  <div class="container">
    <div class="logo-section">
      <a routerLink="/" class="logo">
        WarhammerArmy<span class="thin">Calculator</span>
      </a>
    </div>
    
    <nav class="nav">
      <a routerLink="/home" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact: true}" 
         class="nav-link">Home</a>
         
      <a routerLink="/calculator" 
         routerLinkActive="active" 
         class="nav-link">Calculator</a>
    </nav>
  </div>
</header>