<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <nav class="footer-nav">
        <p class="copyright">WarhammerArmy<span class="thin">Calculator</span></p>
        <span class="separator">|</span>
        <a href="https://github.com/zlashie/warhammerarmycalc" target="_blank" rel="noopener">GitHub</a>
        <span class="separator">|</span>
        <span class="disclaimer">Created by 
          <a href="https://www.linkedin.com/in/tommyech/" target="_blank" rel="noopener">Tommy Nygaard</a>
        </span>
      </nav>
    </div>
  </div>
</footer>