<app-card>
  <div class="dist-container">
    <div class="header">
      <ng-content select="[title]"></ng-content>
    </div>

    <hr class="card-divider">

    <div class="chart-area">
      @if (displayData().length > 0) {
        <div class="bars-wrapper">
          @for (item of displayData(); track $index) {
            <div class="bar-group">
              <div class="bar-hitbox" [title]="item.label + ' Hits: ' + (item.value * 100).toFixed(2) + '%'">
                <div class="bar" [style.height.%]="(item.value / displayMax()) * 100">
                  @if ((item.value / displayMax()) > 0.15) {
                    <span class="value-label-inner">{{ (item.value * 100).toFixed(1) }}%</span>
                  }
                </div>
              </div>
              
              <span class="bar-label">
                {{ shouldShowLabel($index) ? item.label : '' }}
              </span>
            </div>
          }
        </div>
      } @else {
        <div class="empty-state">No units in ledger</div>
      }
    </div>

    @if (stats()) {
      <hr class="card-divider">
      <div class="stats-dashboard">
        
        <div class="stat-orb-wrapper">
          <div class="orb active">
            {{ Math.round(stats()?.avgValue) }}
          </div>
          <div class="orb-label">Avg Hits</div>
          <div class="orb-sub">{{ Math.round(stats()?.avgProb) }}% Probability</div>
        </div>

        <div class="stat-orb-wrapper">
          <div class="orb active">
            {{ stats()?.range80 }}
          </div>
          <div class="orb-label">80% Range</div>
          <div class="orb-sub">Reliable</div>
        </div>

        <div class="stat-orb-wrapper">
          <div class="orb active">
            {{ Math.round(stats()?.probAtLeastAvg) }}%
          </div>
          <div class="orb-label">Prob ≥ Avg</div>
          <div class="orb-sub">Success</div>
        </div>

        <div class="stat-orb-wrapper">
          <div class="orb active">
            {{ stats()?.rangeTop5 }}
          </div>
          <div class="orb-label">Top 5%</div>
          <div class="orb-sub">Lucky Roll</div>
        </div>

      </div>
    }
    
  </div>
</app-card>