<app-card>
  <div class="dist-container">
    <div class="header">
      <ng-content select="[title]"></ng-content>
    </div>

    <hr class="card-divider">

    <div class="chart-area">
      @if (displayData().length > 0) {
        <div class="bars-wrapper">
          @for (item of displayData(); track $index) {
            <div class="bar-group">
              <div class="bar-hitbox" [title]="item.label + ' Hits: ' + (item.value * 100).toFixed(2) + '%'">
                <div class="bar" [style.height.%]="(item.value / displayMax()) * 100">
                  @if ((item.value / displayMax()) > 0.15) {
                    <span class="value-label-inner">{{ (item.value * 100).toFixed(1) }}%</span>
                  }
                </div>
              </div>
              
              <span class="bar-label">
                {{ shouldShowLabel($index) ? item.label : '' }}
              </span>
            </div>
          }
        </div>
      } @else {
        <div class="empty-state">No units in ledger</div>
      }
    </div>

    @if (stats()) {
      <hr class="card-divider">

        <div class="stats-grid">
          <div class="stats-col">
            <div class="stat-item"><span class="label">Avg Value:</span> <b>{{ stats()?.avgValue }}</b></div>
            <div class="stat-item"><span class="label">Avg Prob:</span> <b>{{ stats()?.avgProb }}%</b></div>
          </div>
          
          <div class="stats-col">
            <div class="stat-item"><span class="label">80% Range:</span> <b>{{ stats()?.range80 }}</b></div>
            <div class="stat-item"><span class="label">Std Range:</span> <b>{{ stats()?.rangeStd }}</b></div>
          </div>

          <div class="stats-col">
            <div class="stat-item">
                <span class="label">Prob ≥ Avg:</span> 
                <b [style.color]="stats()?.probAtLeastAvg! > 50 ? '#4caf50' : '#f44336'">
                    {{ stats()?.probAtLeastAvg }}%
                </b>
            </div>
            <div class="stat-item">
              <span class="label">Top 5% (Luck):</span> 
              <b class="highlight-luck">{{ stats()?.rangeTop5 }}</b>
            </div>
          </div>
        </div>

    }
    
  </div>
</app-card>