:root{
    --bg-main: #ffffff;
    --bg-subtle: #fafafa; 

    --text-main: #111111;
    --text-muted: #666666;
    --text-white: #ffffff;

    --line-gold: #e1ad01;

    --border-color: #c9c9c9;
    --modern-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

    --font-family: 'Calibri', 'Candara', 'Segoe UI', sans-serif;
}