@import "../../../../../styles.css";

:host {
  display: block;
  width: 100%; 
}

.card-container {
  background-color: var(--bg-subtle); 
  border-radius: 12px;
  box-shadow: var(--modern-shadow);
  padding: 2rem; 
  box-sizing: border-box; 
}